<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %highlight(%-5level) %logger{0}%X{category}%X{nodeId}%X{channelId}%X{paymentHash}%.-11X{parentPaymentId}%.-11X{paymentId} - %msg%ex{12}%n</pattern>
        </encoder>
    </appender>
    <!--appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>lightning-kmp.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-5level %X{akkaSource} - %msg%ex{12}%n</pattern>
        </encoder>
    </appender-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
